// Responsive
$break-wide: 750px;
$break-medium: 600px;

// Colours
$background-colour: #EFEFEF;
$foreground-colour: #000000;
$accent-colour: #418D2F;
$accent-colour-dark: darken($accent-colour, 10%);
$content-background-colour: #FFFFFF;
