$background-color: #333333;
$primary-color: #EEEEEE;
$secondary-color: #999999;
@import 'components/_code';
@import 'components/_syntax-highlight';

@mixin no-list() {
  list-style-type: none;
  padding: 0px;
}

@mixin clearfix() {
  content:"";
  display:table;
  clear:both;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  color: $primary-color;
  background-color: $background-color;
}

main, body>header, body>footer {
  padding: 0 20px;
}

article, p {
  font: 20px/1.5em  serif;
  line-height: 30px;
}

a {
  color: $primary-color;
}

p.tagline {
  font-family: sans-serif;
  margin: 0px;
  color: $secondary-color;
}

body > header h1 {
  font-size: 50px;
  margin: 0px;
}

body > header h1 a {
  text-decoration: none;
}

article p a {
  text-decoration: underline;
}

article img {
  max-width: 100%;
}

body > header > div, nav, main, body > footer > div {
  max-width: 70ch;
  margin: auto;
}

body > header, body > footer {
  padding: 1ch;
  background-color: #444444;
}

hr {
  border: solid 1px $secondary-color;
  border-bottom-width: 0px;
}

.time {
  color: $secondary-color;
}

.rss-subscribe {
  font: 15px sans-serif;
}

/* Nav */
nav ul {
  @include no-list();
}

nav ul li {
  margin: 0 10px;
  display: inline-block;
}

/* post-list */
ul.posts {
  @include no-list();
}

ul.posts li {
  display: block;
  margin: 10px 0;
}

ul.posts .post-link {
  display: block;
  font-size: 20px;
}

footer.site-footer ul {
  @include no-list();
  float:left;
}

footer.site-footer ul li {
  display: inline-block;
  margin: 0 10px;
}

.logo {
  float:left;
  height: 85px;
  width: auto;
  margin: 0 10px 0 0;;
}

.logo path {
  fill: $primary-color;
}

.site-footer:after {
  @include clearfix();
}

.site-footer h4 {
  margin: 0;
}

.copy-notice {
  line-height: 50px;
  float:right;
  padding: 0 10px;
  font-size: 0.9em;
}

ul.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

ul.tags li {
  float: left;
}

a.tag {
  font: 12px sans-serif;
  background: #EEEEEE;
  border-radius: 3px 0 0 3px;
  color: #333333;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

a.tag::before {
  background: #666666;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

a.tag::after {
  background: #333333;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 699px) {
  .logo {
    height: 63px;
  }

  body > header h1 {
    font-size: 35px;
  }

  body > header p {
    font-size: 16px;
  }
}
