.highlight, code {
  color: $background-color;
  background-color: $primary-color;
  font: 17px/22px monospace;
  margin: 0;
}

td.code {
  padding: 5px;
}

pre {
  margin: 0;
}

.lineno {
  background-color: #BBBBBB;
  padding: 1px 3px;
  color: $background-color;
}
